@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* .custom-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-template-rows: 330px 330px 400px 510px;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
} */
/* @supports (display: grid) {
  main {
    max-width: 300vh;
    margin: 0;
  }
  .custom-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
  } */
/* } */

.item-a {
  /* height: 105%; */
  height: 0;
  /* grid-column: 1;
  grid-row: 1 / 3; */
}

.item-b {
  height: 30%;
  /* height: auto; */
}

.item-c {
  height: 50%;
  /* height: auto; */
  margin-top: 0%;
}
.item-d {
  height: 35%;
  /* height: auto; */
  /* grid-column: 3;
  grid-row: 1 / 3; */
}
.item-e {
  height: 0%;
  margin-top: -30%;
}

.item-f {
  height: 0;
  margin-top: 10%;
}

.item-g {
  margin-top: 0%;
}

.item-h {
  height: 100%;
  margin-top: 35%;
}

.item-i {
  margin-top: 90%;
}

.item {
  height: 100%;
}

.card-blog {
  border: 0;
  border-radius: 0;
}

.card-body-blog {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
